server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: odc-hub-backend

  data:
    mongodb:
      uri: ${MONGO_URI}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration: 1800000
    refresh-token-expiration: 86400000