name: Backend CI - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build and test
        run: |
          mvn clean verify -DskipITs | tee maven-build.log

      - name: Upload Maven logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: maven-logs
          path: maven-build.log
